.form {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.input {
  font-size: 1.5rem;
  padding: 0.2rem;
  width: 20ch;
  border: none;
  border-radius: 5px;
}

.button {
  background-color: $secondary-color;
  color: $white;
  border-radius: 5px;
  border-color: $white;
  font-size: 1.5rem;
  transition: color 0.5s ease, background-color 0.5s ease,
    border-color 0.5s ease;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
    border-color: $primary-color;
  }
}
